// colors
$color-primary: #151515;
$color-secondary: #1e1e1e;
$color-tertiary: #262626;
$color-quaternary: #414141;
$color-gray-dark: #212121;
$color-primary-bg: #171318;
$color-accent: #b3a3ff;
$color-accent-light: #ccc2ff;
$color-font-primary: #ffffff;
$color-font-secondary: #dedede;
$color-font-positive-light: #313c39;
$color-font-info-light: #323227;
$color-font-faded: #999999;
$color-red: #FF7D7D;
$color-red-hover: #CC5555;

// typography
$font-family-main: 'Rubik', sans-serif;