@use '@/assets/styles/_variables.scss' as variables;

body {
  font-family: variables.$font-family-main;
  margin: 0;
  padding: 0;
  background-color: variables.$color-secondary;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 1;
  padding: 10px;

  &--12 {
    flex: 0 0 100%;
  }
}

.mb-4 {
  margin-bottom: 1rem;
}